@import url("reset.css");

body {
  font: normal 16px Helvetica, sans-serif;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

aside {
  float: left;
  background-color: #464f77;
  width: 335px;
  height: 800px;
  font-weight: 200;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

main {
  float:right;
  width: 865px;
  height: 800px;
}



aside ul {
  margin: 70px 35px 70px 100px;
  color: #fff;
}

aside li {
  padding: 5px 0px 13px 45px;
  
}

aside .all_todos {
  background: url("../images/list_icon.png") no-repeat 5px 0px;
}

aside li + li {
  padding: 13px 0px 13px 45px;
  background: none;
  color: rgba(255, 255, 255, 0.5);
}

aside .completed {
  background: url("../images/complete.png") no-repeat 5px 0px;
}

.completed li + li {
  text-decoration: line-through;
}

.item_count {
  float: right;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  border-radius: 10px;
  padding: 1px 6px;
  background-color: #6b7292;
  box-sizing: border-box;
}

.selected {
  color: #fff;
  background-color: #148fd5;
}

/*** main ***/

#menu_icon {
  color: #050505;
  background: url("../images/menu_icon.png") no-repeat 0 0;
  height: 18px;
  width : 23px;
  display: block;
  margin: 20px 0 0 35px;
} 

main h1 {
  padding: 33px;
  font-size: 21px;
  width: 100px;
}

h1 .item_count {
  margin-top: 2.5px;
}

main #add_todo {
  background: url("../images/rectangle.png") no-repeat 12px 1.5px;
  padding: 0 0 20px 40px;
  color: #148fd5;
}

main ul {
  margin: 0 100px 0 20px;
}


main li + li {
  padding: 20px 0 20px 40px;
  border-top: 2px solid #f1f1f1;
}

.finished {
  color: #b3b3b3;
  text-decoration: line-through;
}

.finished a:hover {
  color: inherit;
}

main a:hover {
  color: #148fd5;
}

.delete_item { 
  float: right;
  background: url("../images/trash_bin.png") no-repeat;
  width: 18px;
  height: 18px;
}

input {
  border: none;
  border-bottom: 1.5px solid #148fd5;
  width: 26%;
  height: 15px;
}

#one-click {
  text-align: center;
  margin: 30px 100px 0 20px;;
}

#one-click button + button {
  margin-left: 30px;
}

#one-click a:hover {
  color: inherit;
}

/** modal **/

.modal {
  position: absolute;
  display: none;
  margin: 0 auto;
  top: 100px;
  height: 400px;
  width: 580px;
  background-color: #fff;
  z-index:4;
  box-sizing: border-box;

}

.modal_layer {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal form {
  padding: 40px 40px 0 35px;
  box-sizing: border-box;
}

.modal dd, dt {
  display: inline-block;  
  padding-bottom: 25px; 
}


.modal dt {
  width: 110px;

}

.modal dd {
  width: 389px;
  }

.modal dd:nth-child(3n) {
  vertical-align: top;

}

.modal dl {
  width: 100%;
  box-sizing: border-box;
}

.modal input[type="text"], 
input[type="number"],
input[type="submit"], 
textarea, button {
  font-size: 16px;
  padding: 6px;
  resize: none;
}

.modal textarea {
  border: 1px solid #b3b3b3;
  height: 140px; 
}

.modal input {
  border: 1px solid #b3b3b3;
  height: 35px;
  box-sizing: border-box;
}

.modal input#todo_name, 
textarea {
  width: 100%;
  box-sizing: border-box;
}

.modal input[type="number"] {
  width: 115px;
}

.modal .slash {
  display: inline-block;
  height: 37px;
  width: 11px;
  text-align: center;
}


.modal input[type="submit"], 
button {
  height: 35px;
  width: 185px;
  color: #fff;
  background-color: #148fd5;
  padding: 0;
  border: 0;
  border-radius: 4px;
}

.modal button {
  margin-left: 13px;
}





